* {
    margin: 0;
    box-sizing: border-box;
    background-color: #FFF4D3;
    font-family: 'Poppins', sans-serif;
}


button {
    border: none;
    background-color: #EB2E24;
    color: #ffff;
    font-size: 20px;
    font-weight: 100;
    padding: 5px 15px;
    margin: 10px 50px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85.333px;
    box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .navbar--items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    text-decoration: none;
  }
  .navbar--items ul > li > a {
    text-decoration: none;
  }


  .navbar--content {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
  }









.section--title {
    font-size: 50px;
    font-weight: 500;
    color: #434A9B;
    margin: 120px 50px;
}

.hero--section--title {
    font-size: 40px;
    font-weight: 500;
    margin: -125px 50px 0;
}

.hero--section-description {
    width: 600px;
    font-size: 30px;
    font-weight: 300;
    color: #EB2E24;
    margin: 10px 50px;
}

.hero--section--img {
    width: 500px;
    height: 300px;
    float: right;
    margin: -600px 50px 0;
}





h1.project-section-title{
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.project--section--container--box{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.project-section-box{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    margin: auto;
    width: 400px;
    height: 105vh;
    border-radius: 30px;
}

.project--section--inside--box {
    display: flex;
    background-color: #807d7d;
    width: 400px;
    height: 50vh;
    border-radius: 30px;
}

.project--section--heading{
    background-color: #ffff;
    color: #35B58E;
    text-align: center;
    margin: 3px;
    font-size: 25px;
    font-weight: 700;
}

.project--img{
    width: 400px;
    height: 50vh;
    border-radius: 30px;
}

.project--section--description {
    background-color: #ffff;
    width: 350px;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
}

.project--section--description-c {
    background-color: #ffff;
    width: 350px;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
}

.project--section--links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -70px;
}

.project--section--links-1{
    background-color: #ffff;
    text-decoration: none;
    font-size: 20px;
}

svg{
    background-color: #ffffff;
    margin: 2px 0px -7px 0px;
}






h1.skills--heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.skills--content--description--box{
    display: flex;
    justify-content: center;
}

.skills--content--inside--box{
    width: 300px;
    height: 50vh;
    justify-content: space-evenly;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 30px;
}

.skills--heading--title{
    background-color: #ffffff;
    color: #CA1D00;
    text-align: center;
    margin-top: 15px;
    border-radius: 20px;
    font-weight: 600;
}

.skills--description--content{
    background-color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.skills-heading-line {
    background-color: #30D85B;
    width: 60px;
    height: 4px;
    align-items: center;
    margin: auto;
}







.contact--heading{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

input {
    background-color: #ffff;
    border: none;
    width: 400px;
    padding: 20px;
    margin: 15px 50px;
    border-radius: 30px;
    font-size: 20px;
}

textarea {
    background-color: #ffff;
    border: none;
    width: 400px;
    padding: 20px;
    margin: 15px 50px;
    border-radius: 30px;
    font-size: 20px;
}

.contact--input--box {
    margin-top: 100px;
}

.contact--section--img{
    width: 500px;
    float: right;
    margin: -630px auto;
}

.contact--section--button{
    display: flex;
    margin-left: 130px;
}

.logo-name {
    font-size: 20px;
    text-align: center;
}

